<h2><%= gettext "Latest tutorials" %></h2>

<div class="row posts-grid">
  <%= for tutorial <- @tutorials do %>
    <div class="column">
      <article class="post">
        <h5>
          <a href='<%= Routes.tutorial_path(@conn, :show, tutorial) %>'><%= tutorial.title %></a>
        </h5>
        <p class="info"><%= tutorial.inserted_at %></p>
      </article>
    </div>
  <% end %>
</div>