/* This file is for your main application css. */

@import "milligram";
@import "fontello";

@import url("https://fonts.googleapis.com/css?family=Fira+Mono:400,500,700&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin-ext");

html,
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
main.wrapper {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  flex: 1 0 auto;
}
.wrapper .container {
  max-width: 100rem;
}
.wrapper > .navigation + .container {
  padding-bottom: 7.5rem;
  padding-top: 7.5rem;
}
.header {
  position: relative;
  margin-top: 8.2rem;
  padding-top: 1rem;
  overflow: hidden;
  background: rgba($color: #eee, $alpha: 0.4);
}
.header + section {
  border-top: 0;
}
.header .container {
  border-top: 0;
  padding-bottom: 10rem;
  padding-top: 10rem;
  position: relative;
}
.header .button {
  margin-bottom: 2rem;
  margin-top: 2rem;
}
@media (min-width: 40rem) {
  .header .button {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
}
.navigation {
  background: rgba($color: #fff, $alpha: 0.9);
  box-shadow: 0 1rem 1rem rgba($color: #eee, $alpha: 0.5);
  border-bottom: 0.1rem solid #d1d1d1;
  display: block;
  height: 8.2rem;
  left: 0;
  max-width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}
.navigation .container {
  padding-bottom: 0;
  padding-top: 0;
}
.navigation .navigation-list {
  list-style: none;
  margin-bottom: 0;
  margin-right: 5rem;
}
@media (min-width: 80rem) {
  .navigation .navigation-list {
    margin-right: 0;
  }
}

.navigation .mobile-nav {
  display: none;
}
@media (max-width: 40rem) {
  .navigation .navigation-list {
    margin-right: 0;
  }
  .navigation .navigation-item:not(.mobile-nav) {
    display: none;
  }
  .navigation .mobile-nav {
    display: block;
  }
  *[class*="column-"] {
    max-width: 100% !important;
    width: 100% !important;
  }
}
.popover {
  background: #fff;
  border: 0.1rem solid #d1d1d1;
  border-radius: 0.4rem;
  display: none;
  filter: drop-shadow(0 0 0.6rem rgba(0, 0, 0, 0.1));
  right: 0;
  min-width: 13.4rem;
  position: absolute;
  top: 94%;
}
.popover.popover-open {
  display: block;
}
.popover:after,
.popover:before {
  border: solid transparent;
  border-color: transparent;
  border-width: 1rem;
  content: " ";
  height: 0;
  right: 0;
  pointer-events: none;
  position: absolute;
  margin-right: 0.5rem;
  top: 0;
  width: 0;
}
.popover:after {
  border-bottom-color: #fff;
  transform: translate(-50%, -100%);
}
.popover:before {
  border-bottom-color: #d1d1d1;
  transform: translate(-50%, -102%);
}
.popover .popover-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.popover .popover-item {
  margin: 0;
  padding: 0;
}
.popover .popover-item:first-child .popover-link {
  border-radius: 0.4rem 0.4rem 0 0;
}
.popover .popover-item:last-child .popover-link {
  border-bottom-width: 0;
  border-radius: 0 0 0.4rem 0.4rem;
}
.popover .popover-link {
  border-bottom: 0.1rem solid #d1d1d1;
  color: #606c76;
  display: block;
  font-size: 1.2rem;
  padding: 0.8rem 2rem;
  position: relative;
  text-align: center;
  text-decoration: none;
}
.popover .popover-link:hover {
  background: #9b4dca;
  border-bottom-color: #9b4dca;
  color: #fff;
}

.navigation .navigation-item {
  float: left;
  margin-bottom: 0;
  margin-left: 2.5rem;
  position: relative;
}
.navigation .img {
  height: 7.4rem;
  position: relative;
  top: 0.3rem;
}
.navigation .navigation-link,
.navigation .navigation-title,
.navigation .title {
  display: inline;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 8rem;
  padding: 0;
  text-decoration: none;
}
.navigation .navigation-link.active {
  color: #606c76;
}

.footer {
  border-top: 0.1rem solid #d1d1d1;
  padding: 2rem 0 0 0;
  text-align: center;
}

.posts-list {
  .post {
    border: 0.2rem solid #eee;
    border-radius: 0.5rem;
    padding: 1rem 1em 0;
    margin: 0 0 1rem;
    p.info {
      font-size: 1.2rem;
      margin: 1rem 0;
    }
  }
}

.alchemists,
.companies {
  .alchemist,
  .company {
    border: 0.2rem solid #eee;
    border-radius: 0.5rem;
    padding: 1rem 1rem 0;
    margin: 0 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .avatar {
      margin-bottom: 1rem;
      width: 96%;
      height: 100px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      a {
        // display: block;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        height: 100px;
      }
      img {
        max-width: 100%;
        max-height: 100px;
        height: auto;
        border-radius: 50%;
        background: #eee;
      }
    }
    .logo img {
      border-radius: initial;
      background: initial;
    }

    h4 {
      display: inline-block;
      max-width: 99%;
      margin: 1rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    p {
      font-size: 1.2rem;
    }
  }
}

.alert {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  width: 36rem;
  max-width: 96%;
  background: #eee;
  color: #333;
  padding: 2rem;
  border-radius: 0.5rem;

  &.alert-danger {
    background: #f56c6c;
    color: #fff;
  }
  &.alert-info {
    background: #4a90e2;
    color: #fff;
  }
}

.block-alert {
  background: #eee;
  color: #333;
  padding: 1rem;
  margin: 0 0 1rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;

  p {
    margin: 0;
  }

  &.block-alert-danger {
    background: #f56c6c;
    color: #fff;
  }
  &.block-alert-success {
    background: #9b4dca;
    color: #fff;
  }
  &.block-alert-info {
    background: #4a90e2;
    color: #fff;
  }
}

input + .help-block {
  position: relative;
  top: -1.5rem;
  font-style: italic;
  color: #f56c6c;
  font-size: 1rem;
}

body > .wrapper > .container {
  margin-top: 3rem;
}

ul.pagination {
  list-style: none;
  display: flex;
  align-content: center;
  justify-content: center;

  li {
    margin: 1rem;
    &.active {
      background-color: #eee;
      border: 0.2rem solid #eee;
      border-radius: 0.5rem;
    }
    a {
      display: inline-block;
      min-width: 3rem;
      text-align: center;
      padding: 0.5rem;
    }
  }
}

.form-box {
  border: 0.2rem solid #eee;
  border-radius: 0.5rem;
  width: 50rem;
  padding: 3rem;
  margin: 0 50%;
  transform: translateX(-50%);

  &.long {
    width: 100%;
  }
}

.button-outline.button-github {
  border-color: #606c76 !important;
  color: #606c76 !important;
  display: block;
  width: 100%;
}
.button-outline.button-github:active,
.button-outline.button-github:hover {
  border-color: #606c76 !important;
  background-color: #606c76 !important;
  color: #eee !important;
}
.button-outline.button-gitlab {
  border-color: #fca326 !important;
  color: #fca326 !important;
  display: block;
  width: 100%;
}
.button-outline.button-gitlab:active,
.button-outline.button-gitlab:hover {
  border-color: #fca326 !important;
  background-color: #fca326 !important;
  color: #eee !important;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;

  li {
    margin: 0 0.5rem 0 0;
  }
  li a {
    display: block;
    width: 3rem;
    height: 3rem;
    line-height: 125%;
    padding: 0.5rem;
    background: #eee;
    color: #333;
    border-radius: 50%;
  }
}

.separator {
  position: relative;
  height: 0.2rem;
  margin: 1rem 0;
  background: #eee;
  &.or {
    &:after {
      content: " or ";
      position: absolute;
      left: 50%;
      transform: translateX(-50%) translateY(-0.75rem);
      background: #fff;
      line-height: 100%;
      padding: 0 0.5rem;
      font-size: 1.5rem;
    }
  }
}

pre,
code {
  font-family: "Fira Mono", monospace;
}
pre {
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}
