
.icon-award:before { content: '\e800'; } /* '' */
.icon-globe:before { content: '\e801'; } /* '' */
.icon-heart:before { content: '\e802'; } /* '' */
.icon-heart-empty:before { content: '\e803'; } /* '' */
.icon-search:before { content: '\e804'; } /* '' */
.icon-mail:before { content: '\e806'; } /* '' */
.icon-github-circled-1:before { content: '\f09b'; } /* '' */
.icon-bitbucket:before { content: '\f171'; } /* '' */
.icon-linux:before { content: '\f17c'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-gitlab:before { content: '\f296'; } /* '' */